
<div id="checkvalue"></div>
<section class="home-bg" style="background-image: url(<%= asset_path 'background.jpg' %>)">
  <%= render 'layouts/navbar' %>
  <div class="container">
    <div class="jumbotron-hero">
      <div class="text-center">
        <% if @location %>
          <h1>What's your home in <%= @location %> worth?</h1>
        <% else %>
          <h1>Are you in the money?</h1>
        <% end %>
        <p class="hero-secondary">The real estate market is ever changing.  Is now the right time for you to sell?  If you're thinking of selling, enter your address below to get your free value report.</p>
      </div>
      <div class="text-center">
        <%= form_tag('/map', method: :get) do %>
          <%= text_field_tag :address, nil, required: true, class: "address-input" %>
          <%= hidden_field_tag :latitude, id: "latitude" %>
          <%= hidden_field_tag :longitude, id: "longitude" %>
          <button type="submit" class="btn btn-primary search-button"><span class="fa fa-search fa-3x"></span></button>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="main-info">
  <div class="testimonials container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">We tried some other services but the values seemed way off.  Once we received our customized valuation report we knew we had made the right decision.  Our house was actually worth a good bit more than we thought!</span>
          <div class="user-block">
            <%= image_tag 'SusanandJeff.png', class: "user-image img-circle" %>
            <div class="user-info">
              <h4>Susan and Jeff C.</h4>
              <h6>Hoover, AL</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">You guys made the process so simple.  Your report helped us plan our move and I am happy to say our house sold within 2 weeks.  Couldn't be happier!</span>
          <div class="user-block">
            <%= image_tag 'MarkandLiz.png', class: "user-image img-circle" %>
            <div class="user-info">
              <h4>Mark and Liz M.</h4>
              <h6>Birmingham, AL</h6>
            </div>
          </div>
        </div>       
      </div>
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">I was thinking of moving but once I received my report I realized that now probably wasn't the best time to maximize my investment.  I stayed put for now but this saved me a huge hassle of listing my home and then finding out I couldn't get what I wanted.  Will certainly use again.</span>
          <div class="user-block">
            <%= image_tag 'jenniferk.png', class: "user-image img-circle" %>
            <div class="user-info">
              <h4>Jennifer K.</h4>
              <h6>Vestavia, AL</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps">
    <div class="container">
      <div class"row">
        <div class="col-sm-4 text-center">
          <%= image_tag 'tell_us.svg' %>
          <h3>Tell Us About You</h3>
          <p>You provide basic info about your home and where we should send your report.</p>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag 'our_system.svg' %>
          <h3>Our System Goes to Work</h3>
          <p>We'll create a report and give you the lowdown on what your home is really worth.</p>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag 'receive_report.svg' %>
          <h3>You'll Receive the Report</h3>
          <p>We will email you the report and touch base to make sure you are completely satisfied.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="check-value">
    <a href="#checkvalue" class="btn btn-primary btn-xl"><span class="fa fa-check"></span>  Check your home's value!</a>
  </div>
</section>


<script>
  var initAutocomplete = function() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('address')),
      {types: ['geocode']});

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace().geometry.location;
      var lat = place.lat();
      var lng = place.lng();
      $('#latitude').val(lat);
      $('#longitude').val(lng); 
    });
  };

  $(document).on('ready', initAutocomplete);
</script>





