
<%= render 'layouts/navbar' %>

<div class="container-fluid">
  <section class="jumbotron-hero">
    <div class="text-center">
      <% if @location %>
        <h1>What's your home in <%= @location %> worth?</h1>
      <% else %>
        <h1>What's your home worth?</h1>
      <% end %>
      <p class="hero-secondary">The market has shifted, and home values have changed. If you're thinking about selling soon, check your home's value below for free.</p>
    </div>
    <div class="text-center">
      <%= form_tag('/map', method: :get) do %>
        <%= text_field_tag :address, nil, required: true, class: "address-input" %>
        <%= hidden_field_tag :latitude, id: "latitude" %>
        <%= hidden_field_tag :longitude, id: "longitude" %>
        <button type="submit" class="btn btn-primary search-button"><span class="fa fa-search fa-3x"></span></button>
      <% end %>
    </div>
  </section>
  <section class="testimonials">
    <div class="row">
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis expedita sint molestias architecto quia ab vel excepturi animi ipsum, necessitatibus sequi perspiciatis aperiam dignissimos ipsam quisquam sed quibusdam.</span>
          <div class="user-block">
            <img src="http://placehold.it/75x75" class="user-image img-circle" />
            <div class="user-info">
              <h4>Steve Johnson</h4>
              <h6>Sold a damn house</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis expedita sint molestias architecto quia ab vel excepturi animi ipsum, necessitatibus sequi perspiciatis aperiam dignissimos ipsam quisquam sed quibusdam.</span>
          <div class="user-block">
            <img src="http://placehold.it/75x75" class="user-image img-circle" />
            <div class="user-info">
              <h4>Steve Johnson</h4>
              <h6>Sold a damn house</h6>
            </div>
          </div>
        </div>       
      </div>
      <div class="col-sm-4">
        <div class="testimonial">
          <span class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis expedita sint molestias architecto quia ab vel excepturi animi ipsum, necessitatibus sequi perspiciatis aperiam dignissimos ipsam quisquam sed quibusdam.</span>
          <div class="user-block">
            <img src="http://placehold.it/75x75" class="user-image img-circle" />
            <div class="user-info">
              <h4>Steve Johnson</h4>
              <h6>Sold a damn house</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  var initAutocomplete = function() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('address')),
      {types: ['geocode']});

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace().geometry.location;
      var lat = place.lat();
      var lng = place.lng();
      $('#latitude').val(lat);
      $('#longitude').val(lng); 
    });
  };

  $(document).on('ready', initAutocomplete);
</script>





