<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <nav class="navbar map-navbar">
        <div class="container-fluid text-center">
          <a href="/"><%= image_tag 'logo.svg', height: '75px', style: 'margin-top: 1em' %></a>
        </div>
      </nav>
      <%= react_component 'SignUpForm', address: @address %>  
    </div>
    <div class="col-md-8 col-md-pull-4">
      <div id="map_canvas"></div>
    </div>
  </div>
</div>

<script>
  var latitude = <%= @latitude %>;
  var longitude = <%= @longitude %>;
  var address = "<%= @address %>";

  var infoContent = '<div style="width:250px; height:auto; padding:10px; font-size:18px; color:#0d3455; font-family: "Montserrat";">' + address + '</div>';

  var map;
  var isDraggable = !('ontouchstart' in document.documentElement);

  var mapInit = function() {
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: {lat: latitude, lng: longitude},
      zoom: 16,
      draggable: isDraggable,
      scrollwheel: false
    });

    var marker = new google.maps.Marker({
      position: {lat: latitude, lng: longitude},
      map: map,
      animation: google.maps.Animation.DROP,
    });

    var infowindow = new google.maps.InfoWindow();
    infowindow.setContent(infoContent); 
    infowindow.open(map, marker); 
  };

  $(document).on('ready', mapInit)
</script>