<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effortless Home Values</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHYmi1fhcIzoCLnl6j6edPHMWR-fm0_dA&libraries=places">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'shared/analytics' %>
    <%= render 'shared/pixel' %>
  </body>
</html>
